{{> nav_bar_emp}}
  <div class="w-container">
    <div class="w-clearfix picture_section">
      <img class="userimage" src="/images/user_icon.jpg" height="179" alt="52f2df37593f6edf41000431_user_icon.jpg">
      <caption class="profcaption"> {{data.name}} </caption>
    </div>
  </div>



  <h5>Company Name:</h5>
    <div class="emp_profile_details" ><a id="company_name">{{data.company_name}}</a></div> 
  <h5>Company Website:</h5>
    <div class="emp_profile_details" ><a id="company_site">{{data.company_site}}</a></div> 
  <h5>Contact Email:</h5>
    <div class="emp_profile_details" ><a id="co_email">{{data.email}}</a></div>
  <h5>Contact Phone:</h5>
    <div class="emp_profile_details"><a id="co_phone">{{data.phone}}</a></div>
  <h5>Skills We're Looking For:</h5>
    <div class="emp_profile_details" ><a id="skills_wanted">{{data.skills_wanted}}</a></div> 
  <h5>Company Department:</h5>
    <div class="emp_profile_details" ><a id="company_departments">{{data.company_departments}}</a></div>
  <h5>Company Industry:</h5>
    <div class="emp_profile_details" ><a id="company_industry">{{data.company_industry}}</a></div>
  <h5>Minimum Years of Experience Required:</h5>
    <div class="emp_profile_details" ><a id="min_years">{{data.min_years}}</a></div>

<script src = "../js/introHCI.js" ></script>