{{> nav_bar}}
  <div class="w-container">
    <div class="w-clearfix picture_section">
      <img class="userimage" src="/images/user_icon.jpg" height="179" alt="52f2df37593f6edf41000431_user_icon.jpg">
    </div>
  </div>
  <section class="w-container heading">
    <div class="profile_name"><strong>{{data.name}}</strong>
    </div><a class="button profile_button" href="/employer_create">Edit</a>
  </section>
  <h5>Email:</h5>
    <div class="emp_profile_details" >{{data.email}}</div>
  <h5>Phone:</h5>
    <div class="emp_profile_details">{{data.phone}}</div>
  <h5>Skills Wanted:</h5>
    <div class="emp_profile_details" ><p>{{data.skills_wanted}}</p></div> 
  <h5>Company Department:</h5>
    <div class="emp_profile_details" >{{data.company_department}}</div>
  <h5>Company Website:</h5>
    <div class="emp_profile_details" >{{data.company_site}}</div>
  <h5>Company Industry:</h5>
    <div class="emp_profile_details" >{{data.company_industry}}</div>