{{> nav_bar_emp}}
<div class="w-container jobs_container">
  <h3>JOBHUNTERS</h3>
  <h5 style="margin-left:-180px"><strong>SELECT A FIELD</strong></h5>
</div>
<div class="clearfix">
  <div style="margin-left:50px" class="btn-group col-centered" role="toolbar">
    <button type="button" class="btn btn-primary btn-xs active" id="All">All</button>
    <button type="button" class="btn btn-primary btn-xs" id="CS">Computer Science</button>
    <button type="button" class="btn btn-primary btn-xs" id="Art">Arts/Fine Arts</button>
    <button type="button" class="btn btn-primary btn-xs" id="IT">Information Technology</button>
  </div>
</div>
<br></br>
<div class="bs-example">
  <div style="padding:30px" class="panel-group" id="accordion">
  {{#each jobhunters}}
    <div class="panel panel-default {{field}} jobhunter">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{id}}">{{name}}</a>
        </h4>
      </div>
      <div id="collapse{{id}}" class="panel-collapse collapse">
        <div class="panel-body">
          <p>{{skills}}</p>
          <p>{{profession}}</p>
          <strong><a href="mailto:{{email}}?Subject=GIVE%20ME%20A%20JOB%20PLEASE%20I'M%20POOR%20" target="_blank">
    {{email}}</a></strong>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
<script>
$("button").click(function() {
  //toggle buttons
  $("button.active").button('toggle');
  $("#"+this.id).button('toggle');

  //show and hide appropriately.
  if(this.id =="All"){
    $( "div.jobhunter").show(200);
  }else{
    $( "div.jobhunter" + "." + this.id ).show(200);
    $( "div.jobhunter").not("."+this.id).hide(200);
  }
});
</script>