<div class="w-container">
  <div class="w-clearfix picture_section">
    <img class="userimage" src="/images/user_icon.jpg" height="179" alt="52f2df37593f6edf41000431_user_icon.jpg">
  </div>
</div>

<section class="w-container heading">
  <div class="profile_name"><strong>{{data.name}}</strong></div>

  <form method="post">
  <input type="button" class ="button profile_button" value="CLOSE"
  onclick="window.close()">
  </form>
</section>

<h5>Email:</h5>
  <div class="profile_details" >{{data.email}}</div>
<h5>Phone:</h5>
  <div class="profile_details" >{{data.phone}}</div>
<h5>Profession:</h5>
  <div class="profile_details" ><p>{{data.profession}}</p></div> 
<h5>Skills:</h5>
  <div class="profile_details" >{{data.skills}}</div>
<h5>Interests:</h5>
  <div class="profile_details" >{{data.interests}}</div>
<h5>Years of Experience:</h5>
  <div class="profile_details" >{{data.yrs_experience}}</div>
<h5>Resume:</h5>
  <div class="profile_details" >Resume Link</div>
 