{{> nav_bar}}
<div class="w-container">
  <div class="w-clearfix picture_section">
    <img class="userimage" src="/images/user_icon.jpg" height="179" alt="52f2df37593f6edf41000431_user_icon.jpg">
  </div>
</div>

<h5>Email:</h5>
  <div class="profile_details"><a id="email">{{data.email}}</a></div>
<h5>Phone:</h5>
  <div class="profile_details" ><a id="phone">{{data.phone}}</a></div>
<h5>Field:</h5>
  <div class="profile_details"><a id="field">{{data.field}}</a></div>
<h5>Years of Experience:</h5>
  <div class="profile_details"><a id="yrs_experience">{{data.yrs_experience}}</a></div>
<h5>Profession:</h5>
  <div class="profile_details" ><a id="profession"><p>{{data.profession}}</p></a></div> 
<h5>Skills:</h5>
  <div class="profile_details" ><a id="skills">{{data.skills}}</a></div>
<h5>Interests:</h5>
  <div class="profile_details" ><a id="interests">{{data.interests}}</a></div>
<h5>Resume:</h5>
  <div class="profile_details" ><a id="resume">Resume Link</a></div>

<script src = "../js/introHCI.js" ></script>
